@model OfficeLocationMicroservice.WebUi.Models.OfficeEditModel

@{
    ViewBag.Title = "Edit";
}

<head>
    <style></style>
</head>

<body>
<h2>Edit</h2>
    
Model
    @Model.NewOfficeName

<script>
    
</script>
</body>