

div.card {
    width: 320px;
    height: 230px;
    background: #4f85a9;
    margin: 10px;
    padding: 10px;
    display: inline-table;
    overflow: hidden;
    font-family:"Avenir LT Black";
    text-rendering:optimizeLegibility;
}

.details {
    margin: 10px;
}

h4 {
    color: black;
    text-align: center;
    font-family:"Avenir LT Book";
    font-weight: 900;
}

h1 {
    text-align: center;
}

.myContainer {
    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.addButtonSpan {
    right: 120px;
    top: -15px;
    width: inherit;
}