

div.card {
    width: 320px;
    height: 230px;
    background: grey;
    margin: 10px;
    padding: 10px;
    display: inline-table;
    overflow: hidden;
}

.details {
    margin: 10px;
}

h4 {
    color: black;
    text-align: center;
}

h2 {
    text-align: center;
}

.myContainer {
    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}