body {
    background: whitesmoke;
}

div.card {
    width: 320px;
    height: 230px;
    background: #4eafb7;
    background: rgba(78, 175, 183, 0.63);
    margin: 10px;
    padding: 10px;
    display: inline-table;
    overflow: hidden;
    font-family:"Avenir LT Black";
    text-rendering:optimizeLegibility;
    border-radius: 5px
}

.details {
    margin: 10px;
}

h4 {
    color: black;
    text-align: center;
    font-family:"Sentinel A","Sentinel B";
    font-weight: 600;
}
.headingDiv{
    display: table;
    margin: 0 auto;
    width: 150px;
    border-bottom:3px solid #b1bf2a;
}
h1 {
    text-align: center;
}


.myContainer {
    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.addButtonSpan {
    right: 120px;
    top: -15px;
    width: inherit;
}
.btn-office {
    background: #f3a6d1;
}

.btn-office:hover {
    background: #b64785;
    color: black;
}

.btn-close {
    background: #E5E4E2;
}

.btn-close:hover {
    background: #81898C ;
    color: black;
}